{
    email {$TLS_ADMIN_EMAIL}
}

cambodia-trusted-ai-dev.dyrongrath.com {
    tls /etc/caddy/origin.pem /etc/caddy/origin.key
    reverse_proxy frontend:8080
}

cambodia-trusted-ai-api.dyrongrath.com {
    tls /etc/caddy/origin.pem /etc/caddy/origin.key
    reverse_proxy backend:3000
}

cambodia-trusted-ai-ai.dyrongrath.com {
    tls /etc/caddy/origin.pem /etc/caddy/origin.key
    reverse_proxy ai-service:8000
}
